table{
width:50%
border-collapse:collapse;
font-size:50px;
margin:20px auto;
}
th{color:rgb(78, 78, 192);background-color:rgb(16, 204, 50)}
td{color:rgb(232, 28, 79);background-color:rgb(145, 158, 158)}